boto==2.45.0
bz2file==0.98
Cython==0.25.2
flake8==3.2.1
gensim==2.0.0
joblib==0.10.3
mccabe==0.5.3
numpy==1.11.3
pluggy==0.4.0
py==1.4.32
pycodestyle==2.2.0
pyflakes==1.3.0
pytest==3.0.5
pytest-flake8==0.8.1
requests==2.12.4
scipy==0.18.1
setuptools-scm==1.15.0
six==1.10.0
smart-open==1.3.5
tox==2.5.0
tox-travis==0.7.2
virtualenv==15.1.0
